<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=8">
		<meta charset="UTF-8">
		<title>data-source.jsのtest</title>

		<!-- QUnitテスト結果ページ用CSS -->
		<link  href="/hifive-res/ext/qunit/1.10.0/qunit.css" rel="stylesheet">

		<!-- QUnit -->
		<script src="/hifive-res/ext/qunit/1.10.0/qunit.js"></script>

		<!-- jQuery -->
		<!--[if lt IE 9]>
		<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
		<!--<![endif]-->
		<script src="/hifive-res/fw/current/h5.dev.js"></script>

		<script  type="text/javascript;version=1.9.0" src="/hifive-res/ext/sinon/sinon-1.9.0.js"></script>

		<!-- テスト対象コード -->
		<script src="../src/data-source.js"></script>

		<!-- テストコード -->
		<script src="data-source-test.js"></script>

	</head>
	<body>
		<!-- テスト結果表示領域 -->
		<div id="qunit"></div>
	</body>
</html>