<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width = device-width, user-scalable = yes">

<!-- ライブラリCSS・JS -->
<!--[if lt IE 9]>
<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->
<link rel="stylesheet"
	href="/hifive-res/ext/jqplugins/nouislider/7.0.9/jquery.nouislider.css">
<script
	src="/hifive-res/ext/jqplugins/nouislider/7.0.9/jquery.nouislider.min.js"></script>

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<!-- popup部品 -->
<link rel="stylesheet" href="../../popup/src/popup.css">
<script src="../../popup/src/popup.js"></script>

<!-- drawing部品 -->
<link rel="stylesheet" href="../src/artboard.css">
<script src="../src/consts.js"></script>
<script src="../src/Command.js"></script>
<script src="../src/ArtShape.js"></script>
<script src="../src/DrawingLogic.js"></script>
<script src="../src/ArtboardController.js"></script>

<!-- ユーザCSS・JS -->
<link rel="stylesheet" href="css/index.css" />
<script src="src/common.js"></script>
<script src="src/PictureController.js"></script>
<script src="src/ToolbarController.js"></script>
<script src="src/PageController.js"></script>

<script>
	$(function() {
		// コントローラのバインド
		var $root = $('.sketch-canvas');
		h5.core.controller($root, sample.PageController, {
			canvasSize: {
				height: 300,
				width: $root.innerWidth()
			}
		});
	});
</script>

<title>お絵かきボード</title>
</head>
<body>
	<h1>お絵かきボード</h1>
	<div class="sketch-canvas"></div>
</body>
</html>
