<script type="text/ejs" id="h5artboard-canvas-wrapper">
<div class="h5artboard-canvas-wrapper">
	<div class="h5artboard-layers">
		<div class="background-layer" style="width:[%= width %]px; height:[%= height %]px"></div>
		<svg class="svg-layer" version="1.1" viewBox="0 0 [%= width %] [%= height %]"
			style="width:[%= width %]px; height:[%= height %]px"
			baseProfile="full"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			xmlns:ev="http://www.w3.org/2001/xml-events">
		</svg>
	</div>
	<canvas width="[%= width %]" height="[%= height %]"></canvas>
</div>
</script>