<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">


<link href="/hifive-res/ext/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../src/DividedBox.css" rel="stylesheet">

<style type="text/css">
body {
	padding: 1em;
}

.sample>._dividedBox {
	margin: 10px 0;
	height: 300px;
}

.box,.box>* {
	box-sizing: border-box;
}

.yellow {
	background-color: #FFFE73;
}

.green {
	background-color: #51994C;
}

.purple {
	background-color: #702999;
}

.horizontal>.box {
	height: 300px;
	width: 300px;
}

.vertical>.box {
	height: 50%;
}

.state-container>div {
	border: 3px solid #000;
}
</style>

<!--[if lt IE 9]>
		<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
		<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<script src="../src/DividedBox.js"></script>
<script src="sample-state.js"></script>

<title>ボックス区切り移動サンプル(ボックス追加機能、リセット機能あり)</title>
</head>
<body class="container">
	<div class="row">
		<h3>state切替</h3>

		<div class="sample">
<!-- 			<label><input type="checkbox" name="auto-adjust" checked>state-changeイベントを拾って自動でsetWidth|setHeightする</label> -->
			<div class="control-group">
				<select name="target"><option val="yellow">yellow</option>
					<option val="green">green</option>
					<option val="purple">purple</option></select> <select name="state">
					<option val="mini">mini</option>
					<option val="middle">middle</option>
					<option val="large">large</option>
				</select>
				<button class="refresh btn btn-default set-state">SelectBoxController.setState()</button>
			</div>
<!-- 			<div class="control-group"> -->
<!-- 				<input type="text" name="size" size="3" value="50"></input> <select -->
<!-- 					name="target"><option val="yellow">yellow</option> -->
<!-- 					<option val="green">green</option> -->
<!-- 					<option val="purple">purple</option></select> -->
<!-- 				<button class="refresh btn btn-default set-width-or-height">DevidedBoxController.setWidth() -->
<!-- 					| setHeight()</button> -->
<!-- 			</div> -->
			<div class="_dividedBox horizontal">
				<div class="box yellow state-container">
					<div data-state="middle" style="width: 300px; height: 100%">middle
						state</div>
					<div data-state="mini" style="width: 50px; height: 100%">mini
						state</div>
					<div data-state="large" style="width: 600px; height: 100%">large
						state</div>
				</div>
				<div class="_dividedBox fill vertical">
					<div class="box fill green state-container">
						<div data-state="middle" style="height: 150px">middle state</div>
						<div data-state="mini" style="height: 30px">mini state</div>
						<div data-state="large" style="height: 270px">large state</div>
					</div>
					<div class="box fill purple state-container">
						<div data-state="middle" style="height: 150px">middle state</div>
						<div data-state="mini" style="height: 30px">mini state</div>
						<div data-state="large" style="height: 270px">large state</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>