/*---------- 共通 ----------*/
body{
	padding: 10px;
	background-color: white;
}

.grid-content{
	overflow-y: hidden;
	margin: 10px;
}

.grid-init-code{
	min-width : 910px;
}

/*---------- グリッド共通 ----------*/
#grid {
	margin: 0 auto;
}

#grid .table {
	margin-bottom: 0;
}

#grid td {
	border: solid 1px #888;
}

#grid td.grid-selected {
	background-color: #1E90FF;
	color: white;
}

#grid td.grid-marked {
	background-color: #B2E0FF;
}

#grid td input[type="checkbox"] {
	vertical-align: middle;
}

#grid div.grid-cell {
	text-align: center;
	white-space: nowrap;
}

#grid td.grid-header {
	background-color: rgb(89, 87, 87);
	border-bottom-style: double;
	color : whitesmoke;
}

/*---------- 氏名、電話番号、メールアドレス ----------*/
#grid div.grid-main-box td[data-h5-dyn-grid-property-name="name"] div.grid-cell {
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
}

#grid div.grid-main-box td[data-h5-dyn-grid-property-name="mail"] div.grid-cell {
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
}

#grid div.grid-main-box td[data-h5-dyn-grid-property-name="tel"] div.grid-cell {
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
}

/*---------- 列移対象列 ----------*/
#grid .grid-main-box .grid-cell-frame.tracking-column {
	background-color: rgb(224, 219, 219);
}

 /*---------- 列移動時に表示する矢印 ----------*/
.glyphicon {
	line-height: 24px;
	padding: 0px 3px;
}

.trackend-sign {
	position: absolute; /* trackmoveで入れ替え先を表す矢印のクラス */
}

.disp-hidden {
	display: none !important;
}

.glyphicon:before,.glyphicon:after {
	display: block !important;
}

/*----------  ページ切り替えボタン（pagingGrid） ---------- */
#pager {
	width: 850px;
	text-align: center;
}

#prevPage {
	top: 0;
	left: 0;
}

#nextPage {
	top: 0;
	right: 0;
}

#pager input[type="text"] {
	width: 40px;
}

#pager a.disabled-link {
	visibility: hidden;
}