<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet" >

<!--[if lt IE 9]>
<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<title>Carousel</title>
</head>
<body>

	<h1>forcus</h1>
	<p>フォーカスの制御を行う部品です。</p>
	<p>
		サンプルは<a href="sample/">こちら。</a>
	</p>
</body>
</html>