<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<title>スクリーン</title>
</head>
<body>

	<h1>スクリーン</h1>
	<p>複数のDOM要素をコンテンツとして扱い、1つづつスライドさせて表示するスクリーン機能をサポートする部品です。横並び、縦並びに対応しています。</p>
	<p>
		サンプルは<a href="sample/">こちら。</a>
	</p>

	<h2>使用方法</h2>
	<ul>
		<li>screen.css、PageLoadLogic.js、ScreenUIController.jsを読み込んでください。</li>
		<li>screenクラスの要素を作成し、その中にコンテンツ要素を記述します。</li>
		<li>screenクラスの要素と、スクリーンを操作するための要素を含む要素にh5.ui.components.screen.ScreenUIControllerをバインドして使用します。</li>
		<li>ScreenUIControllerバインド時のパラメータは、以下のように設定します。</li>
		<li><pre>{
  navigationController: ナビゲーションコントローラ定義オブジェクト,
  navigationRootElement: ナビゲーションコントローラをバインドするオブジェクト,
  isVertical: 縦並びの場合はtrueを指定。デフォルトは横並び。
}</pre></li>
	</ul>

	<h2>ナビゲーションコントローラの実装について</h2>
	<p>ナビゲーションコントローラは、イベントをトリガしてスクリーンを操作するよう実装します。</p>
	<p>トリガされたイベントは、ScreenUIControllerによって処理されます。ScreenUIControllerが受け付けているイベントは以下です。
	<dl>
		<dt>prevPage</dt>
		<dd>
			前のページへ移動。以下のパラメータを渡すことができます。
			<dl>
				<dt>url</dt>
				<dd>スクリーンを移動した後、移動後のコンテンツ領域に表示させるコンテンツのURLを指定します。指定しない場合はロードしません。</dd>
				<dt>force</dt>
				<dd>移動後のページがすでにコンテンツをロード済みの時に、再ロードするかどうかを指定します。trueなら再ロード、falseならロードしません。</dd>
			</dl>
		</dd>
		<dt>nextPage</dt>
		<dd>次のページへ移動。渡せるパラメータはprevPageイベントと同じです。</dd>
		<dt>loadPage</dt>
		<dd>現在表示中のスクリーン内のコンテンツに指定したURLのコンテンツをロードします。渡せるパラメータはprevPageイベントと同じです。</dd>
		<dt>screenTrackstart</dt>
		<dd>
			スクリーンをpx単位で移動(トラック操作)する準備を開始します。このイベントをトリガすると、screenTrackmoveイベントを受け付けるようになります。以下のようにパラメータを渡します。
			<dl>
				<dt>trackSize</dt>
				<dd>ここで指定した距離(px)のトラック操作が、スクリーン上での1ページ分の移動になります。トラック操作を行う要素の幅を指定すると、その要素の端から端までトラック操作をした時にスクリーン1ページ分移動するようになります。スクリーン幅と移動距離を1:1で対応させる場合はスクリーン幅を指定してください。</dd>
			</dl>
		</dd>
		<dt>screenTrackmove</dt>
		<dd>
			スクリーンをpx単位で移動します。パラメータ指定された分だけ動かします。以下のようにパラメータを指定します。
			<dl>
				<dt>dist</dt>
				<dd>移動距離。screenTrackstartイベント時に渡したtrackSizeに基づいてスクリーンの移動距離が計算されます。</dd>
			</dl>
		</dd>
		<dt>screenTrackend</dt>
		<dd>
			スクリーンのトラック操作を終了します。トラック操作終了時のスクリーンの位置からパラメータで指定したページへ移動します。パラメータは以下のように渡します。
			<dl>
				<dt>page</dt>
				<dd>'current'または'next'または'prev'を指定します。トラック操作開始時(screenTrackstart時)のページへ移動させるなら'current'、次(右)へ移動させるなら'next'、前(左)へ移動させるなら'prev'を指定します。</dd>
				<dt>url</dt>
				<dd>移動後のコンテンツ領域に表示させるコンテンツのURLを指定します。指定しない場合はロードされません。</dd>
				<dt>force</dt>
				<dd>移動後のページがすでにコンテンツをロード済みの時に、再ロードするかどうかを指定します。trueなら再ロード、falseならロードしません。urlパラメータが指定されている場合のみ有効です。</dd>
			</dl>
		</dd>
	</dl>
	<p>.screen要素は、アニメーション動作中には'isOperation'クラスが追加されます。</p>
	<p>
		スクリーンがアニメション中かどうかは
		<code>$('.screen').hasClass('isOperation');</code>
		で確認できます。
	</p>
	<p>スクリーンがスライドされて、コンテンツが移動した時及び、削除時と追加時に、ナビゲーションコントローラのルートエレメントに対して以下のイベントが上がります。</p>
	<dl>
		<dt>screenchange</dt>
		<dd>nextPageやprevPage及びトラック操作によってスクリーンに表示しているコンテンツが変更されたときに上がるイベントです。イベントハンドラの引数として、第1引数に現在のコンテンツ要素、第2引数に変更前のコンテンツ要素のjQueryオブジェクトが渡されます。
			(コントローラでイベントを拾う時は、context.evArgsに順番に格納されています。以下のイベントも同様です。)</dd>
		<dt>screenremove</dt>
		<dd>スクリーンに表示しているページが削除されたときに上がるイベントです。イベントハンドラの第1引数に削除されたのコンテンツの要素がjQueryオブジェクトで渡されます。</dd>

		<dt>screenadd</dt>
		<dd>スクリーンにコンテンツが追加されたときに上がるイベントです。イベントハンドラの第1引数に追加されたのコンテンツの要素がjQueryオブジェクトで渡されます。</dd>
	</dl>
	<p>コンテンツ移動時及び追加時や削除時に何か処理をしたい場合は、ナビゲーションコントローラの{rootElement}で、イベントを拾えばよいでしょう。</p>
</body>
</html>