<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet" >

<!--[if lt IE 9]>
<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->

<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<title>タイルコンテナ</title>
</head>
<body>

	<h1>タイルコンテナ</h1>
	<p>要素をタイルのように移動可能にするコンテナです。</p>
	<p>
		サンプルは<a href="sample/">こちら。</a>
	</p>

	<h2>使用方法</h2>
	<ul>
		<li>tileContainer.cssと、tileContainer.jsを読み込みます。</li>
		<li>タイルコンテナにしたい要素にcolumnクラスを指定し、それらの親にcolumnsクラスを指定します。</li>
		<li>h5.ui.components.tileContainer.tileContainerControllerをcolumnsクラスに指定して使用します。</li>
	</ul>
</body>
</html>