<!doctype html>
<html lang="ja">
<meta charset="UTF-8">

<head>
<title>マグネットコンテナ</title>
</head>
<body>
	<h1>マグネットコンテナ</h1>
	サンプルは<a href="sample/">こちら。</a>
	<h2>説明</h2>
	<ul>
		<li>コンテナ要素をドラッグ移動可能にし、コンテナ要素に近づいたら磁石のようにくっつくようにするコントローラです。</li>
		<li>コンテナ同士がくっついた場合、くっついた複数のコンテナはグループ化されます。</li>
	</ul>
	<h2>使用方法</h2>
	<ul>
		<li>h5.ui.components.MagnetContainer.MagnetControllerにマグネットコンテナのコントローラを公開しています。このコントローラをバインドした要素の直接の子要素がコンテナ要素となります。</li>
		<li>magnet.css、MagnetController.js、jquery.animate-shadow-min.js が必要です。</li>
		<li>(jquery.animate-shadow-min.jsは無くても、くっついた時のアニメーションが起きないだけで動作はします。)</li>
	</ul>
</body>
</html>
