.h5-alert {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fcf8e3;
	padding: 10px;
	margin: 25px;
}

.h5-alert .msg {
	color: red;
	font-weight: bold;
}

.h5-alert .close-btn {
	float: right;
	color: #555;
	background-color: #fcf8e3;
	border: 1px solid #555;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	left: -15px;
	padding: 3px;
}

.h5-alert .response {
	background-color: #fff;
	border: 3px double #000;
	margin-top: 10px;
	height: 264px;
	overflow: auto;
}