<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width = device-width, user-scalable = yes">

<style>
li {
	line-height: 1.5em;
}
</style>
<title>手書きカンバス</title>
</head>
<body>
	<h2>手書きカンバス</h2>
	<p>canvas手書き可能吹き出しを表示するUIコンポーネントです</p>
	<p>
		サンプルは<a href="sample/">こちら</a>
	</p>

	<h3>使用方法</h3>
	<ul>
		<li>srcフォルダ以下にある、以下のファイルが必要です。使用するページで読み込んでください。
			<ul>
				<li>DrawingController.js</li>
			</ul>
		</li>
		<li>drawing-canvasクラスを持つcanvas要素を含む要素にh5.ui.components.drawing.DrawingControllerをバインドすると、drawing-canvasクラスを持つcanvas要素が手書き可能になります。</li>
	</ul>
	<h3>プロパティとメソッド</h3>
	<p>DrawingControllerには、以下のプロパティ及びメソッドがあります。プロパティを設定したりメソッドを呼び出したりする場合はDrawingControllerを子コントローラとしてバインドし、親コントローラからプロパティを設定したり呼び出したりするのがよいでしょう。</p>
	<table>
		<thead>
			<tr>
				<th>プロパティorメソッド</th>
				<th>型</th>
				<th>説明</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>isDrawMode</td>
				<td>boolean</td>
				<td>trueなら手書き可能で、falseなら何もしません。デフォルトはtrueです。</td>
			</tr>
			<tr>
				<td>lineWidth</td>
				<td>number</td>
				<td>描画する線の太さをpxで指定します。デフォルトは5です。</td>
			</tr>
			<tr>
				<td>lineColor</td>
				<td>string</td>
				<td>描画する線の色を指定します。CSSカラー形式の文字列(&quot;#ff0000&quot;や&quot;rgb(255,0,0)&quot;、&quot;red&quot;等)を指定します。デフォルトは&quot;#ff000&quot;(赤)です。</td>
			</tr>
		</tbody>
	</table>
</body>
</html>