<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>グラフ（依存関係グラフ）</title>
</head>
<body>
	<h1>グラフ（依存関係グラフ）</h1>
	サンプルは<a href="sample/index.html">こちら</a>。
	<h2>説明</h2>
	<ul>
		<li>graphコンポーネントは、ノードとエッジからなる「グラフ」を描画するためのライブラリです。<br>
		（棒グラフや円グラフなどは<a href="../chart/">チャート</a>部品として提供しています。）</li>
		<li>可視範囲のノードだけを描画するようになっており、大量のノードを扱うことができます。</li>
		<li>ノードはdiv要素またはsvg要素で表現でき、クリックやマウスオーバーなどイベント処理も対応しています。</li>
		<li>エッジはSVGで描画されます。イベント処理にも対応しています。</li>
		<li>画面全体の拡大・縮小やスクロールなども可能です。</li>
	</ul>
	<h2>執筆中</h2>
	<ul>
		<li>執筆中</li>
	</ul>
</body>
</html>
