<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>データグリッド</title>
</head>
<body>
	<h1>データグリッド</h1>
	サンプルは<a href="sample/">こちら</a>。
	<h2>説明</h2>
	<ul>
		<li>datagrid は巨大なデータを表形式で表示するためのコンポーネントです。</li>
		<li>データを配列として一括して渡すこともできますし、都度サーバに問い合わせて取得する方式にすることもできます。</li>
		<li>現在のところデータの編集には対応していません。</li>
	</ul>
	<h2>使用方法</h2>
	<ul>
		<li>h5.ui.components.datagrid 以下にデータグリッドのコントローラを3種類公開しています。</li>
		<li>ComplexHeaderGridController は固定したいヘッダ部分を HTML で自由に記述できる形式の表です。</li>
		<li>PagingGridController はページング形式の表です。</li>
		<li>ScrollGridController は縦スクロール形式の表です。</li>
		<li>それぞれの詳細な使用方法は<a href="sample/">サンプル</a>のコードを参考にしてください。</li>
	</ul>
</body>
</html>
