<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- jquery -->
<!--[if lt IE 9]>
		<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
		<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->

<!-- hifive -->
<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<script src="../src/ColorGradient.js"></script>

<script>
	$(function() {
		var gradients = [{
			position: 0,
			color: 0xff0000,
			alpha: 1
		}, {
			position: 1 / 5,
			color: 0xffff00,
			alpha: 1
		}, {
			position: 2 / 5,
			color: 0x00ff00,
			alpha: 1
		}, {
			position: 3 / 5,
			color: 0x00ffff,
			alpha: 1
		}, {
			position: 4 / 5,
			color: 0x0000ff,
			alpha: 1
		}, {
			position: 1,
			color: 0xff00ff,
			alpha: 1
		}];
		var colorGradientLogic = h5.core.logic(h5.ui.components.colorGradient.ColorGradient);
		var colorGradient = colorGradientLogic.createColorGradient(gradients);

		function getRgba(color, alpha) {
			var r = color >> 16;
			var g = (color >> 8) % 256;
			var b = color % 256;
			var a = alpha == null ? 1 : alpha;
			return h5.u.str.format('rgba({0},{1},{2},{3})', r, g, b, a);
		}

		function getCssColor(color) {
			var cssColor = '000000' + color.toString(16);
			return '#' + cssColor.substr(cssColor.length - 6, cssColor.length);
		}

		function setGradientInputs() {
			$('.gradientInput').remove();
			for (var i = 0, l = gradients.length; i < l; i++) {
				h5.core.view.append('.gradientInputList', 'gradientInput', {
					gradient: gradients[i],
					getCssColor: getCssColor
				});
			}
		}

		function setGradientPalet() {
			$('.colorPalet').remove();
			var wrapperWidth = $('.colorPaletWrapper').width();
			for (var i = 0, l = gradients.length; i < l; i++) {
				var grad = gradients[i];
				var color = grad.color;
				var alpha = grad.alpha;
				var $color = $('<div class="colorPalet">');
				$color.css({
					left: wrapperWidth * grad.position - 10,
				});
				$color.attr('title', 'alpha:' + alpha);
				$color.css('background-color', getRgba(color, alpha));
				$('.colorPaletWrapper').append($color);
			}
		}

		function showColor() {
			var position = parseFloat($('.position').val()) / 100;
			var color = colorGradient.getColorAtPosition(position);
			var alpha = colorGradient.getAlphaAtPosition(position);
			$('.result').css('background-color', getRgba(color, alpha));
			$('.resultColor').text(getCssColor(color));
			$('.resultAlpha').text(alpha);
		}

		setGradientInputs();
		setGradientPalet();
		showColor();

		$('input[type="range"]').bind('change', function() {
			showColor();
		});
		$('input[type="range"]').bind('input', function() {
			showColor();
		});
		$('.createGradient').bind('click', function() {
			gradients = [];
			$('.gradientInput').each(function() {
				var $this = $(this);
				var color = $.trim($(this).find('[name="color"]').val());
				if (color.indexOf('#') === 0) {
					color = color.slice(1);
				}
				color = parseInt(color, 16);
				var position = $(this).find('[name="position"]').val() / 100;
				var alpha = $(this).find('[name="alpha"]').val() / 100;
				gradients.push({
					color: color,
					position: position,
					alpha: alpha
				});
			});
			colorGradient = colorGradientLogic.createColorGradient(gradients);

			setGradientInputs();
			setGradientPalet();
			showColor();
		});
		$(document).on('click', '.removeInput', function(ev) {
			$(this).closest('.gradientInput').remove();
		});
		$(document).on('click', '.addInput', function(ev) {
			var $gradientInput = $(this).closest('.gradientInput');
			var prePos = parseInt($gradientInput.find('[name="position"]').val());
			var nextPos = parseInt($gradientInput.next().find('[name="position"]').val());
			var pos = (prePos + nextPos) / 200;
			$gradientInput.after(h5.core.view.get('gradientInput', {
				gradient: {
					position: pos
				},
				getCssColor: getCssColor
			}));
		});

	});
</script>
<style>
.result {
	width: 200px;
	height: 100px;
}

.colorPaletWrapper {
	width: 200px;
	height: 30px;
	position: relative;
	top: -10px;
}

input[type="range"] {
	width: 200px;
	margin-bottom: 10px;
	padding: 0;
}

.createGradient {
	position: absolute;
	left: 240px;
}

.colorPalet {
	width: 20px;
	height: 20px;
	position: absolute;
}

ul {
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

li {
	border: 1px solid #ccc;
	border-radius: 5px;
	list-style: none;
	padding: 5px;
	margin-top: 30px;
	width: 300px;
	position: relative;
}

li>label {
	display: block;
}

.gradientInputBtnWrapper {
	position: absolute;
	bottom: -25px;
}
</style>

<script type="text/ejs" id="gradientInput">
	<li class="gradientInput">
		<label>色<input name="color" type="color" value="[%= getCssColor(gradient.color||0) %]"></label>
		<label>alpha<input name="alpha" type="range" min="0" max="100" value="[%= 100*(gradient.alpha==null?1:gradient.alpha) %]"></label>
		[% var disabled = gradient.position == 1 || gradient.position == 0 %]
		<label>位置<input name="position" type="range" min="0" max="100" value="[%= 100*(gradient.position==null?1:gradient.position) %]" [%=disabled?'disabled':''%]></label>
		<div class="gradientInputBtnWrapper">
			[% if(gradient.position != 1){ %]
			<button class="addInput">↓追加</button>
			[% } %]
			[% if(!disabled){ %]
			<button class="removeInput">削除</button>
			[% } %]
		</div>
	</li>
</script>
<title></title>
</head>
<body>
	<div>
		<input class="position" type="range" min="0" max="100" value="50">
		<div class="colorPaletWrapper"></div>
		<!-- 		<button class="createGradient">指定した色でColorGradient作成</button> -->
		<div class="result-wrapper">
			<div class="result"></div>
			<p>
				color:<span class="resultColor"></span>
			</p>
			<p>
				alpha:<span class="resultAlpha"></span>
			</p>
		</div>
	</div>
	<div>
		<ul class="gradientInputList">
		</ul>
		<button class="createGradient">指定した色で作成</button>
	</div>
</body>
</html>