<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">


<link href="/hifive-res/ext/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet">

<!--[if lt IE 9]>
		<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
		<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<title>ボックス区切り移動サンプル</title>
</head>
<body>
	<div class="container">
		<div class="row">

			<h3>ボックス区切り移動(DividedBox)</h3>

			<p>DividedBoxは要素を区切り線で分割し、分割サイズを区切り線の操作で自由に変更できるようにすることができるUI部品です。</p>
			<p>実際の動作画面、及び詳細な使い方については以下のサンプルをご覧ください</p>
			<ul>
				<li><a href="sample/index.html">ボックス区切り移動サンプル</a>
				<li><a href="sample/state.html">StateBox使用サンプル</a>
				<li><a href="sample/event.html">DividedBoxの上げるイベント</a>
			</ul>

			<h4>使用方法・制限事項</h4>
			<ul>
				<li>本機能使用時は、以下のファイルを読み込んでください。
					<ul>
						<li>dividedBox/src/DividedBox.css</li>
						<li>dividedBox/src/DividedBox.js</li>
					</ul>
				</li>
				<li><p>ルート要素をdividedBoxクラスとして、DividedBoxを適用する例です。</p>
					<p>ルート要素直下にボックス要素を配置してください。DividedBoxを適用すると各ボックス間に移動可能な区切り線が作成されます。</p>
					<pre>&lt;!-- html --&gt;
&lt;div class=&quot;dividedBox&quot;&gt;
  &lt;div&gt;ボックス１&lt;/div&gt;
  &lt;div&gt;ボックス２&lt;/div&gt;
  &lt;div&gt;ボックス３&lt;/div&gt;
&lt;/div&gt;
</pre> <pre>// javascript
var dividedBoxControlelr = h5.core.controller('.dividedBox', h5.ui.components.DividedBox.DividedBox);
</pre>
				<li>
					<p>デザインについては適宜、別定義によるオーバーライド等で変更してください。</p>
					<p>例：区切り線のハンドル用要素(中央の○)の高さと幅を20px、色を白に変更</p> <pre>.dividedBox&gt;.divider&gt;.dividerHandler {
  background-color: #fff;
  /* 円にするため、width=heightにして、角丸(border-radius)はその半分の値を指定 */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.dividedBox.horizontal&gt;.divider&gt;.dividerHandler {
  margin-left: -8px; /* -(divderHandlerのwidth - dviderのwidth) / 2 */
}

.dividedBox.vertical&gt;.divider&gt;.dividerHandler {
  margin-top: -10px;  /* -(divderHandlerのheightの半分) / 2 */
}</pre>
				</li>
				<li><p>
						ウィンドウサイズ変更等でルート要素のサイズが変更され、要素内容にずれが生じるような場合は、
						DividedBoxControllerの<strong>refresh</strong>関数を呼び出してください。再計算して表示します。
					</p> <pre>dividedBoxController.refresh();</pre></li>
				<li>その他機能についてはサンプルをご覧ください
					<ul>
						<li><a href="sample/index.html">ボックス区切り移動サンプル</a>
						<li><a href="sample/state.html">StateBox使用サンプル</a>
						<li><a href="sample/event.html">DividedBoxの上げるイベント</a>
					</ul>
			</ul>
		</div>
	</div>
</body>
</html>
