<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>データグリッドサンプル</title>
<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">
<link href="../src/datagrid.css" rel="stylesheet">
<link href="./sample.css" rel="stylesheet">

<script src="/hifive-res/ext/jquery/jquery-2.1.1.js"></script>
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>
<script src="../src/datagrid.js"></script>
<script src="./paging-sample.js"></script>
</head>
<body>
	<div id="pageForm">

		<label for="currentPage">ページ番号: </label>
		<input id="currentPage" name="currentPage" type="number" name="currentPage" min="1" />/
		<span id="totalPages"></span>
		,
		<label for="pageSize" >ページサイズ: </label>
		<input id="pageSize" type="number" name="pageSize" min="1"/>
	</div>
	<div id="grid"></div>
</body>
</html>