<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>データグリッドサンプル</title>
		<link href="./lib/hifive/h5-1.1.14.css" rel="stylesheet">
		<link href="../src/datagrid.css" rel="stylesheet">
		<link href="./sample.css" rel="stylesheet">

		<script src="./lib/jquery/jquery-2.1.1.js"></script>
		<script src="./lib/hifive/ejs-1.0.h5mod.js"></script>
		<script src="./lib/hifive/h5-1.1.14.dev.js"></script>
		<script src="../src/datagrid.js"></script>
		<script src="./sample.js"></script>
	</head>
	<body>
		<div id="grid"></div>
	</body>
</html>