<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>データグリッドサンプル</title>
		<link href="/hifive-res/fw/current/h5.css" rel="stylesheet">
		<link href="../src/datagrid.css" rel="stylesheet">
		<link href="./sample.css" rel="stylesheet">

		<script src="/hifive-res/ext/jquery/jquery-2.1.1.js"></script>
		<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
		<script src="/hifive-res/fw/current/h5.dev.js"></script>
		<script src="../src/datagrid.js"></script>
		<script src="./sample.js"></script>
	</head>
	<body>
		<div id="grid"></div>
	</body>
</html>