#container {
	display: inline-block;
	margin: 0 20px 0 0;
}

#function_zone{
	display: inline-block;
	width: 500px;
	vertical-align: top;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid black;
	min-height: 400px;
	height: 100%;
}