<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link type="text/css" rel="stylesheet" href="../../../res/lib/hifive/h5.css">
<script type="text/javascript" src="../../../res/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../res/lib/hifive/ejs-h5mod.js"></script>
<script type="text/javascript" src="../../../res/lib/hifive/h5.js"></script>

<link type="text/css" rel="stylesheet" href="../src/screen.css">
<script type="text/javascript" src="../src/PageLoadLogic.js"></script>
<script type="text/javascript" src="../src/ScreenUIController.js"></script>

<link type="text/css" rel="stylesheet" href="sample.css">
<script type="text/javascript" src="NavigationController.js"></script>
<script type="text/javascript" src="init.js"></script>

<title>スクリーン サンプル</title>
</head>
<body>
	<h1>スクリーン サンプル</h1>
	<div class="screen-wrapper">
		<div class="screen-nav">
			<a class="prevpage">前へ</a> <a class="nextpage">次へ</a>
			<div class="screentrack">トラックエリア</div>
		</div>
		<div class="screen fixheight">
			<div data-sample-url="page1.html">ページ1(未ロード)</div>
			<div data-sample-url="page2.html">ページ2(未ロード)</div>
			<div data-sample-url="page3.html">ページ3(未ロード)</div>
		</div>
	</div>

	<h3>スクリーンの高さが固定でない(中身によって可変)の場合のサンプル</h3>
	<div class="screen-wrapper">
		<div class="screen-nav">
			<a class="prevpage">前へ</a> <a class="nextpage">次へ</a>
			<div class="screentrack">トラックエリア</div>
		</div>
		<div class="screen">
			<div data-sample-url="page1.html" class="fix height1">ページ1(未ロード)</div>
			<div data-sample-url="page2.html" class="fix height2">ページ2(未ロード)</div>
			<div data-sample-url="page3.html" class="fix height3">ページ3(未ロード)</div>
		</div>
	</div>

	<h2>ソースコード例</h2>
	<h3>HTML</h3>
	<pre><code>&lt;div class=&quot;screen-wrapper&quot;&gt;
	&lt;div class=&quot;screen-nav&quot;&gt;
		&lt;a class=&quot;prevpage&quot;&gt;前へ&lt;/a&gt;
		&lt;a class=&quot;nextpage&quot;&gt;次へ&lt;/a&gt;
		&lt;a class=&quot;screentrack&quot;&gt;&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class=&quot;screen&quot;&gt;
		&lt;div data-sample-url=&quot;page1.html&quot;&gt;ページ1(未ロード)&lt;/div&gt;
		&lt;div data-sample-url=&quot;page2.html&quot;&gt;ページ2(未ロード)&lt;/div&gt;
		&lt;div data-sample-url=&quot;page3.html&quot;&gt;ページ3(未ロード)&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	<h3>ナビゲーションコントローラの実装</h3>
	<pre>
		<code>(function() {
	var navigationController = {
		/**
		 * @memberOf app.controller.NavigationController
		 */
		__name: &apos;app.controller.NavigationController&apos;,

		/**
		 * スクリーンのコンテンツURLリスト
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_urlList: [],

		/**
		 * 現在スクリーンに表示中のコンテンツURLのインデックス
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_urlIndex: 0,

		/**
		 * トラック操作開始からの移動量
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_totalSlideAmount: 0,

		/**
		 * トラック操作中かどうか
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_isTracking: false,

		/**
		 * スクリーン要素
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_$screen: null,

		/**
		 * 初期設定
		 *
		 * @memberOf app.controller.NavigationController
		 */
		__ready: function(context) {
			this._$screen = context.args.$screen;
			this._$trackArea = this.$find(&apos;.screentrack&apos;);
			var urlList = this._urlList;
			// urlListにDOMに記述されているURLを保存する。
			// urlが記述されていない箇所についてはundefinedになるので、ロードはされなくなる。
			this._$screen.find(&apos;.h5screenContent&apos;).each(function(index) {
				urlList.push($(this).data(&apos;sample-url&apos;));
			});
			// URLリストの最初のページをロード
			if (this._urlList[this._urlIndex]) {
				this.trigger(&apos;loadPage&apos;, {
					url: this._urlList[this._urlIndex]
				});
			}
		},

		/**
		 * 前へボタンクリック
		 *
		 * @memberOf app.controller.NavigationController
		 * @param context
		 */
		&apos;.prevpage click&apos;: function(context) {
			context.event.preventDefault();
			// 前(左)のページへスライドして、指定したURLをロード
			this._urlIndex = this._urlIndex === 0 ? this._urlList.length - 1 : --this._urlIndex;
			this.trigger(&apos;prevPage&apos;, {
				url: this._urlList[this._urlIndex]
			});
		},

		/**
		 * 次へボタンクリック
		 *
		 * @memberOf app.controller.NavigationController
		 * @param context
		 */
		&apos;.nextpage click&apos;: function(context) {
			context.event.preventDefault();
			// 前(左)のページへスライドして、指定したURLをロード
			this._urlIndex = this._urlIndex === this._urlList.length - 1 ? 0 : ++this._urlIndex;
			this.trigger(&apos;nextPage&apos;, {
				url: this._urlList[this._urlIndex]
			});
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&apos;.screentrack h5trackstart&apos;: function(context) {
			// スクリーンがアニメーション動作中ならキャンセル
			if ($(&apos;.screen&apos;).hasClass(&apos;inOperation&apos;)) {
				return;
			}
			this._isTracking = true;
			this.trigger(&apos;screenTrackstart&apos;, {
				trackSize: this.$find(&apos;.screentrack&apos;).width()
			});
			this._totalSlideAmount = 0;
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&apos;.screentrack h5trackmove&apos;: function(context) {
			if (!this._isTracking) {
				return;
			}
			var offsetX = context.event.offsetX;
			// トラック可能領域を制限
			if (offsetX &lt; 0 || this.$find(&apos;.screentrack&apos;).width() &lt; offsetX) {
				return;
			}
			var dx = context.event.dx;
			this._totalSlideAmount += dx;
			this.trigger(&apos;screenTrackmove&apos;, {
				dx: dx
			});
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&apos;.screentrack h5trackend&apos;: function(context) {
			if (!this._isTracking) {
				return;
			}
			this._isTracking = false;
			// 移動先を判定
			if (this._totalSlideAmount &gt; 100) {
				page = &apos;prev&apos;;
				this._urlIndex = this._urlIndex === 0 ? this._urlList.length - 1 : --this._urlIndex;
			} else if (this._totalSlideAmount &lt; -100) {
				page = &apos;next&apos;;
				this._urlIndex = this._urlIndex === this._urlList.length - 1 ? 0 : ++this._urlIndex;
			} else {
				page = &apos;current&apos;;
			}

			this.trigger(&apos;screenTrackend&apos;, {
				page: page,
				url: this._urlList[this._urlIndex]
			});
		}
	};
	h5.core.expose(navigationController);
})();</code></pre>
	<h3>コントローラのバインド</h3>
	<pre><code>h5.core.controller('.screen-wrapper', h5.ui.components.screen.ScreenUIController, {
	navigationController: app.controller.NavigationController,
	navigationRootElement: '.screen-nav'
});</code></pre>
</body>
</html>