<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width">

<link href="/hifive-res/fw/current/h5.css" rel="stylesheet" >
<!--[if lt IE 9]>
<script src="/hifive-res/ext/jquery/jquery-1.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/hifive-res/ext/jquery/jquery-2.js"></script>
<!--<![endif]-->
<script src="/hifive-res/fw/current/ejs-h5mod.js"></script>
<script src="/hifive-res/fw/current/h5.dev.js"></script>

<link type="text/css" rel="stylesheet" href="../src/screen.css">
<script type="text/javascript" src="../src/PageLoadLogic.js"></script>
<script type="text/javascript" src="../src/ScreenUIController.js"></script>

<link type="text/css" rel="stylesheet" href="sample.css">
<script type="text/javascript" src="NavigationController.js"></script>
<script type="text/javascript" src="init.js"></script>

<title>スクリーン サンプル</title>
</head>
<body>
	<h1>スクリーン サンプル</h1>

	<h3>横並び　スクリーンの高さが固定</h3>
	<div class="screen-wrapper horizonal">
		<div class="screen-nav">
			<a class="prevpage">&#9664;</a> <a class="nextpage">&#9654</a>
			<div class="screentrack">トラックエリア</div>
		</div>
		<div class="screen fixheight">
			<div data-sample-url="page1.html">ページ1(未ロード)</div>
			<div data-sample-url="page2.html">ページ2(未ロード)</div>
			<div data-sample-url="page3.html">ページ3(未ロード)</div>
		</div>
	</div>

	<h3>横並び　スクリーンの高さが固定でない(中身によって可変)</h3>
	<div class="screen-wrapper horizonal">
		<div class="screen-nav">
			<a class="prevpage">&#9664;</a> <a class="nextpage">&#9654</a>
			<div class="screentrack">トラックエリア</div>
		</div>
		<div class="screen">
			<div data-sample-url="page1.html" class="fix height1">ページ1(未ロード)</div>
			<div data-sample-url="page2.html" class="fix height2">ページ2(未ロード)</div>
			<div data-sample-url="page3.html" class="fix height3">ページ3(未ロード)</div>
		</div>
	</div>

	<h3>縦並び</h3>
	<div class="screen-wrapper vertical">
		<div class="screen-nav">
			<a class="prevpage">&#9650;</a>
			<a class="nextpage">&#9660;</a>
			<div class="screentrack">トラックエリア</div>
		</div>
		<div class="screen">
			<div data-sample-url="page1.html" class="fix width1 height3">ページ1(未ロード)</div>
			<div data-sample-url="page2.html" class="fix width2 height3">ページ2(未ロード)</div>
			<div data-sample-url="page3.html" class="fix width3 height3">ページ3(未ロード)</div>
		</div>
	</div>

	<h2 class="clear">ソースコード例</h2>
	<h3>HTML</h3>
	<pre><code>&lt;div class=&quot;screen-wrapper&quot;&gt;
	&lt;div class=&quot;screen-nav&quot;&gt;
		&lt;a class=&quot;prevpage&quot;&gt;&#9664;&lt;/a&gt;
		&lt;a class=&quot;nextpage&quot;&gt;&#9654&lt;/a&gt;
		&lt;a class=&quot;screentrack&quot;&gt;&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class=&quot;screen&quot;&gt;
		&lt;div data-sample-url=&quot;page1.html&quot;&gt;ページ1(未ロード)&lt;/div&gt;
		&lt;div data-sample-url=&quot;page2.html&quot;&gt;ページ2(未ロード)&lt;/div&gt;
		&lt;div data-sample-url=&quot;page3.html&quot;&gt;ページ3(未ロード)&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	<h3>ナビゲーションコントローラの実装</h3>
	<pre>
		<code>(function() {
	var navigationController = {
		/**
		 * @memberOf app.controller.NavigationController
		 */
		__name: &#39;app.controller.NavigationController&#39;,

		/**
		 * スクリーンのコンテンツURLリスト
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_urlList: [],

		/**
		 * 現在スクリーンに表示中のコンテンツURLのインデックス
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_urlIndex: 0,

		/**
		 * トラック操作開始からの移動量
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_totalSlideAmount: 0,

		/**
		 * トラック操作中かどうか
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_isTracking: false,

		/**
		 * スクリーン要素
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_$screen: null,

		/**
		 * 縦スクロールのナビゲーションかどうか
		 *
		 * @memberOf app.controller.NavigationController
		 */
		_isVertical: false,

		/**
		 * 初期設定
		 *
		 * @memberOf app.controller.NavigationController
		 */
		__ready: function(context) {
			this._$screen = context.args.$screen;
			this._$trackArea = this.$find(&#39;.screentrack&#39;);
			var urlList = this._urlList;
			// urlListにDOMに記述されているURLを保存する。
			// urlが記述されていない箇所についてはundefinedになるので、ロードはされなくなる。
			this._$screen.find(&#39;.h5screenContent&#39;).each(function(index) {
				urlList.push($(this).data(&#39;sample-url&#39;));
			});
			// URLリストの最初のページをロード
			if (this._urlList[this._urlIndex]) {
				this.trigger(&#39;loadPage&#39;, {
					url: this._urlList[this._urlIndex]
				});
			}
			//
			this._isVertical = context.args.isVertical;
		},

		/**
		 * 前へボタンクリック
		 *
		 * @memberOf app.controller.NavigationController
		 * @param context
		 */
		&#39;.prevpage click&#39;: function(context) {
			context.event.preventDefault();
			// 前(左)のページへスライドして、指定したURLをロード
			this._urlIndex = this._urlIndex === 0 ? this._urlList.length - 1 : --this._urlIndex;
			this.trigger(&#39;prevPage&#39;, {
				url: this._urlList[this._urlIndex]
			});
		},

		/**
		 * 次へボタンクリック
		 *
		 * @memberOf app.controller.NavigationController
		 * @param context
		 */
		&#39;.nextpage click&#39;: function(context) {
			context.event.preventDefault();
			// 前(左)のページへスライドして、指定したURLをロード
			this._urlIndex = this._urlIndex === this._urlList.length - 1 ? 0 : ++this._urlIndex;
			this.trigger(&#39;nextPage&#39;, {
				url: this._urlList[this._urlIndex]
			});
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&#39;.screentrack h5trackstart&#39;: function(context) {
			// スクリーンがアニメーション動作中ならキャンセル
			if ($(&#39;.screen&#39;).hasClass(&#39;inOperation&#39;)) {
				return;
			}
			this._isTracking = true;
			var isVertical = this._isVertical;
			this.trigger(&#39;screenTrackstart&#39;, {
				trackSize: this.$find(&#39;.screentrack&#39;)[isVertical ? &#39;height&#39; : &#39;width&#39;]()
			});
			this._totalSlideAmount = 0;
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&#39;.screentrack h5trackmove&#39;: function(context) {
			if (!this._isTracking) {
				return;
			}
			var dist = context.event[this._isVertical ? &#39;dy&#39; : &#39;dx&#39;];
			this._totalSlideAmount += dist;
			this.trigger(&#39;screenTrackmove&#39;, {
				dist: dist
			});
		},

		/**
		 * トラック
		 *
		 * @param context
		 * @memberOf app.controller.NavigationController
		 */
		&#39;.screentrack h5trackend&#39;: function(context) {
			if (!this._isTracking) {
				return;
			}
			this._isTracking = false;
			// 移動先を判定
			if (this._totalSlideAmount &gt; 100) {
				page = &#39;prev&#39;;
				this._urlIndex = this._urlIndex === 0 ? this._urlList.length - 1 : --this._urlIndex;
			} else if (this._totalSlideAmount &lt; -100) {
				page = &#39;next&#39;;
				this._urlIndex = this._urlIndex === this._urlList.length - 1 ? 0 : ++this._urlIndex;
			} else {
				page = &#39;current&#39;;
			}

			this.trigger(&#39;screenTrackend&#39;, {
				page: page,
				url: this._urlList[this._urlIndex]
			});
		}
	};
	h5.core.expose(navigationController);
})();</code></pre>
	<h3>コントローラのバインド</h3>
	<pre><code>h5.core.controller('.screen-wrapper', h5.ui.components.screen.ScreenUIController, {
	navigationController: app.controller.NavigationController,
	navigationRootElement: '.screen-nav'
});</code></pre>
</body>
</html>