<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width = device-width, user-scalable = yes">
<link rel="stylesheet" href="../../../res/lib/hifive/h5.css">

<!-- ライブラリCSS・JS -->
<script src="../../../res/lib/jquery/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="../../../res/lib/jqplugins/nouislider/jquery.nouislider.css">
<script src="../../../res/lib/jqplugins/nouislider/jquery.nouislider.min.js"></script>

<script src="../../../res/lib/hifive/ejs-h5mod.js"></script>
<script src="../../../res/lib/hifive/h5.dev.js"></script>

<!-- popup部品 -->
<link rel="stylesheet" href="../../popup/src/popup.css">
<script src="../../popup/src/popup.js"></script>

<!-- drawing部品 -->
<link rel="stylesheet" href="../src/drawing.css">
<script src="../src/DrawingController.js"></script>
<script src="../src/DrawingOperationController.js"></script>

<!-- ユーザCSS・JS -->
<link rel="stylesheet" href="css/index.css" />
<script src="src/util.js"></script>
<script src="src/ToolbarController.js"></script>
<script src="src/PageController.js"></script>

<script>
	$(function() {
		// コントローラのバインド
		var $root = $('.sketch-canvas');
		h5.core.controller($root, sample.PageController, {
			canvasSize: {
				height: 300,
				width: $root.innerWidth()
			}
		});
	});
</script>

<title>drawing</title>
</head>
<body>
	<h1>drawing</h1>
	<div class="sketch-canvas"></div>
</body>
</html>
