<script type="text/ejs" id="toolbar">
<div class="drawing-toolbar">
	<div class="toolbar-operation">
		<div class="menu-wrapper border1" data-menu-side="left"><img class="menu-button icon48" src="res/img/toolicon/up.png">
			<ul class="menu-list display-none">
				<li class="export">export</li>
				<li class="save">save</li>
				<li class="popup-open disabled" data-popup-name="load-popup">load...</li>
				<li class="select-all">select all</li>
				<li class="remove-all">remove all</li>
				<li class="popup-open" data-popup-name="background-popup">background...</li>
			</ul>
		</div>
		<div class="undo border1 disabled"><img class="icon48" src="res/img/toolicon/undo.png"></div>
		<div class="redo border1 disabled"><img class="icon48" src="res/img/toolicon/redo.png"></div>
		<div class="mode-select border1"><img class="icon48" src="res/img/toolicon/select.png"></div>
		<div class="remove-selected-shape border1 disabled"><img class="icon48" src="res/img/toolicon/delete.png"></div>
	</div>
	<div class="toolbar-drawing-tool">
		<img class="toolbar-icon icon48 border1 selected" data-tool-name="pen" src="res/img/toolicon/pen.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="line" src="res/img/toolicon/line.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="rect" src="res/img/toolicon/rect.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="fillrect" src="res/img/toolicon/fillrect.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="circle" src="res/img/toolicon/circle.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="fillcircle" src="res/img/toolicon/fillcircle.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="stamp" src="res/img/toolicon/stamp.png">
		<img class="toolbar-icon icon48 border1" data-tool-name="text" src="res/img/toolicon/text.png">
	</div>
	<div class="color-pallete">
		<div class="selected-color-wrapper stroke selected">
			<div class="selected-color stroke border-box" style="background-color:[%= colors[0] %]"></div>
			<div class="opacity-slidebar-wrapper border-box opacity-stroke display-none">
				<label class="slidebar-label slider-value">100</label>
				<div class="opacity-slidebar opacity-stroke"></div>
			</div>
		</div>
		<div class="selected-color-wrapper fill">
			<div class="selected-color fill border-box" style="background-color:[%= colors[1] %]"></div>
			<div class="opacity-slidebar-wrapper border-box opacity-fill display-none">
				<label class="slidebar-label slider-value">100</label>
				<div class="opacity-slidebar opacity-fill"></div>
			</div>
		</div>
		[% for(var i = 0, l = colors.length; i < l; i++){ var color= colors[i]; %]
		<div class="pallete-color" style="background-color:[%= color %]"></div>
		[% } %]
	</div>
	
	<div class="stroke-width-slider-wrapper stroke-width">
		<label class="slider-label"><span>線の幅</span><span class="slider-value">5px</span></label>
		<div class="stroke-width-slidebar"></div>
	</div>

	[%# スタンプリスト %]
	<div class="stamp-list border1 display-none">
		<div class="stamp-img selected"><img class="drawing-image" data-stamp-id="home" src="res/img/stamp/home.png"></div>
		<div class="stamp-img"><img class="drawing-image" data-stamp-id="check" src="res/img/stamp/check.png"></div>
		<div class="stamp-img"><img class="drawing-image" data-stamp-id="close" src="res/img/stamp/close.png"></div>
	</div>

	[%# テキスト入力 %]
	<div class="text-input border1 display-none">
		<input type="text" name="text" placeholder="ここにテキストを入力" /><br>
		<input type="text" name="size" size="4" value="24"/>px<br>
	</div>

	[%# ポップアップ %]
	<div class="display-none popup-contents-wrapper">
		<div class="load-popup">
			<select class="load-data-list"></select>
			<div class="popupBtn-wrapper">
				<div class="popupCloseBtn border1 clear-both">close</div>
				<div class="load border1 clear-both">load</div>
			</div>
		</div>
		<div class="background-popup">
			<div class="background-image-list-wrapper">
				<label>背景画像</label>
				<select class="background-image-list">
					<option value="none">なし</option>
					<option value="0">春</option>
					<option value="1">夏</option>
					<option value="2">秋</option>
					<option value="3">冬</option>
				</select>
			</div>
			<div class="background-fillmode-wrapper display-none">
				<label>fillMode</label>
				<select class="background-fillmode-list">
					<option value="none">none</option>
					<option value="none-center">none(中央配置)</option>
					<option value="contain">contain</option>
					<option value="cover">cover</option>
					<option value="stretch">stretch</option>
				</select>
			</div>
			<div class="background-color-list-wrapper">
				<label>背景色</label>
				<select class="background-color-list">
					<option value="none">なし</option>
					<option value="color">塗りつぶし</option>
				</select>
				<div class="background-color-selected-wrapper display-none">
					<div class="background-color-selected">
				</div>
			</div>
			<div class="background-color-palette display-none">
				[% for(var i = 0, l = colors.length; i < l; i++){ var color= colors[i]; %]
				<div class="pallete-color" style="background-color:[%= color %]"></div>
				[% } %]
			</div>
			<div class="background-color-opacity display-none">
				<label class="slider-label"><span>透明度</span><span class="opacity-value">100</span></label>
				<div class="background-color-slidebar"></div>
			</div>
			<div class="popupBtn-wrapper">
				<div class="popupCloseBtn border1 clear-both">close</div>
				<div class="set-background border1 clear-both">set</div>
			</div>
		</div>
	</div>

	[%# 背景画像 %]
	<div class="background-image-list">
		<img class="drawing-image background display-none" src="res/img/background/sakura.jpg">
		<img class="drawing-image background display-none" src="res/img/background/hanabi.jpg">
		<img class="drawing-image background display-none" src="res/img/background/momiji.jpg">
		<img class="drawing-image background display-none" src="res/img/background/yuki.jpg">
	</div>
	
</div>
</script>

<script type="text/ejs" id="saved-img-wrapper">
	<div class="saved-img-wrapper"></div>
</script>
