<script type="text/ejs" id="toolbar">
<div class="drawing-toolbar">
	<div class="toolbar-operation">
		<div class="menu-wrapper border1" data-menu-side="left"><img class="menu-button icon48" src="res/img/toolicon/up.png">
			<ul class="menu-list display-none">
				<li  class="popup-open" data-popup-name="save-popup">保存</li>
				<li  class="popup-open" data-popup-name="size-change-popup">サイズ変更</li>
				<li class="select-all">すべて選択</li>
				<li class="remove-all">全て削除</li>
				<li class="popup-open" data-popup-name="background-popup" data-popup-position="top">背景の設定…</li>
			</ul>
		</div>
		<div class="undo border1 disabled"><img class="icon48" src="res/img/toolicon/undo.png"></div>
		<div class="redo border1 disabled"><img class="icon48" src="res/img/toolicon/redo.png"></div>
		<div class="mode-icon mode-select border1"><img class="icon48" src="res/img/toolicon/select.png"></div>
		<div class="remove-selected-shape border1 disabled"><img class="icon48" src="res/img/toolicon/delete.png"></div>
		<div class="mode-icon mode-magnifier border1"><img class="icon48" src="res/img/toolicon/magnifier.png"></div>
	</div>
	<div class="toolbar-drawing-tool">
		<img class="mode-icon toolbar-icon icon48 border1 selected" data-tool-name="pen" src="res/img/toolicon/pen.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="line" src="res/img/toolicon/line.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="rect" src="res/img/toolicon/rect.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="fillrect" src="res/img/toolicon/fillrect.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="circle" src="res/img/toolicon/circle.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="fillcircle" src="res/img/toolicon/fillcircle.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="stamp" src="res/img/toolicon/stamp.png">
		<img class="mode-icon toolbar-icon icon48 border1" data-tool-name="text" src="res/img/toolicon/text.png">
	</div>
	<div class="color-pallete">
		<div class="selected-color-wrapper stroke selected">
			<div class="selected-color stroke border-box" style="background-color:[%= colors[0] %]"></div>
			<div class="opacity-slidebar-wrapper border-box opacity-stroke display-none">
				<label class="slidebar-label slider-value">100</label>
				<div class="opacity-slidebar opacity-stroke"></div>
			</div>
		</div>
		<div class="selected-color-wrapper fill">
			<div class="selected-color fill border-box" style="background-color:[%= colors[1] %]"></div>
			<div class="opacity-slidebar-wrapper border-box opacity-fill display-none">
				<label class="slidebar-label slider-value">100</label>
				<div class="opacity-slidebar opacity-fill"></div>
			</div>
		</div>
		[% for(var i = 0, l = colors.length; i < l; i++){ var color= colors[i]; %]
		<div class="pallete-color" style="background-color:[%= color %]"></div>
		[% } %]
	</div>

	<div class="stroke-width-slider-wrapper stroke-width">
		<label class="slider-label"><span>線の幅</span><span class="slider-value">5</span>px</label>
		<div class="stroke-width-slidebar"></div>
	</div>

	[%# スタンプリスト %]
	<div class="stamp-list border1 display-none">
		<div class="stamp-img selected"><img class="drawing-image" data-stamp-id="home" src="res/img/stamp/home.png"></div>
		<div class="stamp-img"><img class="drawing-image" data-stamp-id="check" src="res/img/stamp/check.png"></div>
		<div class="stamp-img"><img class="drawing-image" data-stamp-id="close" src="res/img/stamp/close.png"></div>
	</div>

	[%# テキスト設定 %]
	<div class="text-settings-box border1 display-none pull-left">
		<input type="text" name="text" placeholder="ここにテキストを入力" /><br>
		<input type="text" name="size" size="2" value="24"/>px
		<span class="set-text-style border1" data-text-style="bold" style="font-weight:bold">B</span>
		<span class="set-text-style border1" data-text-style="italic" style="font-style:italic">I</span>
		<span class="set-text-style border1" data-text-style="underline" style="text-decoration:underline">U</span>
		<span class="set-text-style border1" data-text-style="line-through" style="text-decoration:line-through">abc</span>
		<br>
		<div class="font-family-select">
			<select><option value="sans-serif" selected>ゴシック</option><option value="serif">明朝</option></select>
			<input type="text" name="font-family"/>
		</div>
	</div>

	[%# テキスト入力要素 %]
	<div class="text-input-box display-none">
		<input type="text" name="text-input"/>
		<div class="set-text border1">OK</div>
	</div>

	[%# ポップアップ %]
	<div class="display-none popup-contents-wrapper">
		<div class="background-popup">
			<div class="background-image-list-wrapper">
				<label>背景画像</label><span class="selected-bg">なし</span>
				<div class="background-image-list">
					<input type="hidden"  name="background-image"/>
					<div class="thumbnail none selected">なし</div>
					<div class="img-input-wrap thumbnail">
						<div><label>画像を追加</label></div>
						<img src="res/img/camera.png">
						<input class="" accept="image/*" name="img" type="file" data-action="getPicture"/>
					</div>
					<div class="sample-picture-wrapper">
						<img class="drawing-image background thumbnail" title="フロアマップ" src="res/img/background/floorMap.png">
						<img class="drawing-image background thumbnail" title="PC1" src="res/img/background/pc1.jpg">
						<img class="drawing-image background thumbnail" title="PC2" src="res/img/background/pc2.jpg">
						<img class="drawing-image background thumbnail" title="春" src="res/img/background/sakura.jpg">
						<img class="drawing-image background thumbnail" title="夏" src="res/img/background/hanabi.jpg">
						<img class="drawing-image background thumbnail" title="秋" src="res/img/background/momiji.jpg">
						<img class="drawing-image background thumbnail" title="冬" src="res/img/background/yuki.jpg">
					</div>
				</div>
			</div>
			<div class="background-fillmode-wrapper display-none">
				<label>背景の配置(fillMode)</label>
				<select class="background-fillmode-list">
					<option value="none">サイズ変更無しで配置(none)</option>
					<option value="contain">背景画像全体が見えるように配置(contain)</option>
					<option value="containCenter" selected>背景画像全体が見えるように中央配置(containCenter)</option>
					<option value="cover">隙間が出ないように配置(cover)</option>
					<option value="stretch">カンバスサイズと同じサイズで配置(stretch)</option>
				</select>
				<p>
					オフセット
					<label>x<input type="text" class="num-input" name="background-offset-x" value="0"/></label>
					<label>y<input type="text" class="num-input" name="background-offset-y" value="0"/></label> <label>
				</p>
			</div>
			<div class="background-color-list-wrapper">
				<label>背景色</label>
				<select class="background-color-list">
					<option value="none">なし</option>
					<option value="color">塗りつぶし</option>
				</select>
				<div class="background-color-selected-wrapper display-none">
					<div class="background-color-selected"></div>
				</div>
				<div class="background-color-palette display-none">
					[% for(var i = 0, l = colors.length; i < l; i++){ var color= colors[i]; %]
					<div class="pallete-color" style="background-color:[%= color %]"></div>
					[% } %]
				</div>
				<div class="background-color-opacity display-none">
					<label class="slider-label"><span>透明度</span><span class="opacity-value">100</span></label>
					<div class="background-color-slidebar"></div>
				</div>
				<div class="popupBtn-wrapper">
					<div class="popupCloseBtn border1 clear-both">閉じる</div>
					<div class="set-background border1 clear-both">設定</div>
				</div>
			</div>
		</div>
		<div class="saveData-popup">
			<p><a href="viewer.html" style="color:#fff" target="_blank">ArtboardViewerサンプル</a>で使用できるデータです。</p>
			<textarea class="saveDataText" value="" style="width:100%"></textarea>
			<div class="popupBtn-wrapper">
				<div class="popupCloseBtn border1 clear-both">閉じる</div>
			</div>
		</div>
		<div class="size-change-popup">
			<p>描画領域のサイズ変更</p>
			<label>幅<input type="text" class="num-input" name="size-change-width"/></label>
			<label>高さ<input type="text" class="num-input" name="size-change-height"/></label>
			<div class="popupBtn-wrapper">
				<div class="popupCloseBtn border1 clear-both">閉じる</div>
				<div class="sizeChange popupCloseBtn border1 clear-both">設定</div>
			</div>
		</div>
		<div class="save-popup">
			<div class="save-size-settings">
				<p><label><input type="checkbox" name="save-size-on" value="on"/>出力サイズ指定</label></p>
				<label>幅<input type="text" class="num-input" name="save-width" disabled/></label>
				<label>高さ<input type="text" class="num-input" name="save-height" disabled/></label>
				<label><input type="checkbox" name="save-keep-aspect-ratio" value="on" checked disabled/>比率を保持</label>
			</div>
			[%# trim実装動作確認用。trimは一旦実装したもののAPIから一旦外している #83
			<div class="save-trim-settings">
				<p><label><input type="checkbox" name="save-trim-on" value="on"/>範囲指定</label></p>
				<!-- <div class="border1 save-trim-select">ドラッグして選択</div> -->
				<label>dx<input type="text" class="num-input" name="save-trim-dx" disabled/></label>
				<label>dy<input type="text" class="num-input" name="save-trim-dy" disabled/></label>
				<label>dw<input type="text" class="num-input" name="save-trim-dw" disabled/></label>
				<label>dh<input type="text" class="num-input" name="save-trim-dh" disabled/></label>
			</div>
			%]
			<div class="popupBtn-wrapper">
				<div class="popupCloseBtn border1 clear-both">閉じる</div>
				<div class="save popupCloseBtn border1 clear-both">保存</div>
			</div>
		</div>
	</div>
</div>
</script>

<script type="text/ejs" id="previewContainer">
	<div class="previewContainer">
		<div class="canvasContainer">
			<canvas width="550px" height="412.5px"></canvas>
			<div class="btnContainer">
				<div class="angle-btn-wrap">
					<button class="btn-angle btn-0">0度</button>
					<button class="btn-angle btn-90">90度</button>
					<button class="btn-angle btn-180">180度</button>
					<button class="btn-angle btn-270">270度</button>
					<button class="btn-angle btn-90-con">90度ずつ</button></div>
					<div class="handle-btn-wrap"><button class="btn-angle setAngle">決定</button>
					<button class="btn-angle cancel">キャンセル</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ejs" id="backgroundThumbnail">
	<img class="drawing-image background thumbnail" title="追加した画像" src="[%= imageData %]">
</script>

<script type="text/ejs" id="tool-footer">
	<div style="clear:both;margin:10px 0">拡大表示機能(Magnifier)のサンプルは<a href="magnifier.html">こちら</a></div>
</script>

<script type="text/ejs" id="saved-img-wrapper">
	<div class="saved-img-wrapper"></div>
</script>

<script type="text/ejs" id="saved-img">
	<div>
		<img class="saved-img" src="[%= dataUrl %]">
		<div class="info">
			<label>[%= dateStr %]</label><br>
			<span class="popup-open" data-popup-name="saveData-popup" style="font-size:0.8em; text-decoration:underline; cursor:pointer;">シリアライズしたデータを表示</span>
			<div class="btn border1 load-btn" data-save-no="[%= saveNo %]">読み込み</div>
		</div>
	</div>
</div>