body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

#grid {
	width: 1068px;
	height: 540px;
	margin: 10px auto;
}

#grid table {
	table-layout: fixed;
	border-collapse: collapse;
}

#grid tr {
	height: 25px;
}

#grid td {
	padding: 0;
	border: solid 1px #888;
	/*border-style : solid;*/
	/*border-width : 1px;*/
	/*border-color : #888;*/
}

.grid-header-top-left-cells .dummy-cell {
	border: solid 1px #888;
}

#grid .hide {
	display: none;
}

#grid td div {
	white-space: nowrap;
}

#grid td.hide-border-top {
	border-top-color: transparent;
}

#grid td.hide-border-bottom {
	border-bottom-color: transparent;
}

#grid td.hide-border-right {
	border-right-color: transparent;
}

#grid td.hide-border-left {
	border-left-color: transparent;
}

#grid td.none-border-bottom {
	border-bottom-style: none;
}

#grid div.grid-header-top-left-cells,#grid div.grid-header-rows{
	background-color: #3B3D3F;
	color: white;
}

#grid div.grid-header-columns{
	/*background-color: #585959;*/
	color: #3B3D3F;;
}

/* 値の入らないセル */
#grid .grid-main-box .grid-cell:empty{
	width : 100%;
	height : 100%;
	background-color: whitesmoke;
}

/* タイプ別合計 */
#grid td[data-h5-dyn-grid-row-id="9"] .grid-cell, #grid td[data-h5-dyn-grid-row-id="18"] .grid-cell, #grid td[data-h5-dyn-grid-row-id="26"] .grid-cell {
	width : 100%;
	height : 100%;
	background-color: #848383 !important;
	color: white;
}

/* タイプ合計 */
#grid td[data-h5-dyn-grid-row-id="27"] .grid-cell, #grid td[data-h5-dyn-grid-row-id="31"] .grid-cell{
	width : 100%;
	height : 100%;
	background-color: #585959 !important;
	color: white;
}

/* データセル */
#grid .grid-main-box{
	text-align: right;
}

